@import "reset.css";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,500;0,700;1,300;1,700&display=swap");

:root {
  --card-max-heigth: 430px;
  --card-max-width: 300px;
  --liner-gradiend-main: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 121, 101, 1) 35%,
    rgba(0, 202, 255, 1) 70%,
    rgba(2, 0, 36, 1) 100%
  );
}

* {
  box-sizing: border-box;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #020024 #fafafa;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: #fafafa;
}

*::-webkit-scrollbar-thumb {
  background-color: #020024;
  border-radius: 15px;
  border: 1px solid #ffffff;
}

html {
  font-family: "Montserrat", sans-serif;
  background-color: #fafafa;
  scroll-behavior: smooth;
}

section {
  padding: 1rem;
  margin: auto;
}

.form > div {
  display: flex;
}

input[type="text"] {
  font-size: 1rem;
  padding: 10px;
  border: 1px solid rgb(160, 160, 160);
  border-style: solid;
  border-radius: 50px;
  margin: 1rem;
}

input[type="text"]:hover {
  border-width: 2px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

button {
  margin: auto;
  padding: .75rem;
  font-size: 1rem;
  border-radius: 50px;
  border: 1px solid #0c9;
  background-color: #0c9;
  font-weight: bolder;
  color: white;

}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow: hidden;
}

.main-card {
  box-shadow: 1px 4px 8px 2px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  flex-direction: row;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  padding: 1rem;
  margin: 1rem;
  max-width: var(--card-max-width);
  max-height: var(--card-max-heigth);
  flex-grow: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

a:link {
  text-decoration: none;
  color: #111;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

.card-header {
  flex-grow: 2;
  border-bottom: rgba(2, 0, 36, 1) 100%;
}

.card-body {
  flex-grow: 8;
}

.card-body img {
  padding: 1rem;
  border-radius: 50px;
  max-width: var(--card-max-width);
  max-height: fit-content;
}

.card-footer {
  flex-grow: 2;
  overflow: hidden;
}

.card-footer .description {
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 3;
}

/*NAVBAR NAVBAR NAVBAR NAVBAR NAVBAR */
ul.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: rgb(2, 0, 36);
  background: var(--liner-gradiend-main);
}

ul.nav li {
  float: left;
}

ul.nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.nav li a:hover:not(.active) {
  background-color: #111;
}

ul.nav li.float-right {
  float: right;
}

/*NAVBAR NAVBAR NAVBAR NAVBAR NAVBAR */

#drinkAleatorio {
  display: flex;
}

/* FLOATING BUTTON */

.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #0c9;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  box-shadow: 2px 2px 3px #999;
  transition: 0.3s;
  cursor: pointer;
}

.float:hover{
  width: 65px;
  height: 65px;
}

/* FLOATING BUTTON */

@media screen and (max-width: 700px) {
  ul.nav li.float-right,
  ul.nav li {
    float: none;
  }

  .main-card {
    flex-direction: column;
  }

  .float {
    position: fixed;
    width: 40px;
    height: 40px;
    bottom: 20px;
    right: 20px;
  }
}
